.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.countdown{
  text-align: center;
  width: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.divider{
  position: relative;
  clear: both;
  height: 40px;
}
